{% extends 'base.html' %}
{% load static %}

{% block title %}Coming soon || GHBC{% endblock %}

{% block container %}
<!-- ================= body =================== -->
<div class="cover bg-center vh-100 relative-l" style="background-image: url('/static/img/worship02.jpg');">
    <div class="ph2 ph5-l vh-75 flex flex-column">
        <div class="flex items-center justify-center flex-auto flex-column">
            <h1 class="f1 fw8 white">Coming Soon...</h1>
        </div>
    </div>
</div>
{% endblock %}