{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>LITTLE SAMUEL</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                1 Samuel 1:28 “So now I give him to the Lord. For his whole life 
                he will be given over to the Lord and he worshiped the Lord there”.
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                To teach children to dedicate their lives to serving God.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/write.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>
                    Did you know that many mothers pray for their children before they are born?
                    Yes Samuel’s mother Hannah prayed for Him to be born.
                    When Samuel was born his mother dedicated him to God and he grew up in the temple serving God. Though he was just a little child he dedicated himself to serving God under priest Eli.
                </p>
                <p>    
                    Samuel could hear God speak and later became a prophet and a wise judge in Israel, God instructed Samuel to anoint Saul as the first king of Israel and later anointed David little son of Jesse to be king.
                    You can also make a different in your local church by allowing God to use you when you dedicate your life to serving Him.

                </p>
            </div>
        </div>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}