{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>THE COMMANDMENT</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                Exodus 20:1 “I am the Lord your God who brought you out of Egypt, out of the land of slavery”.
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                To teach children to keep the commandment always.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>
                    One day the Hebrew people camped in Mount Sinai. God called Moses to come up to the 
                    top of the mountain. He gave Moses some important rules to live by so that the Hebrew 
                    would know how to please God.
                </p>
                <span>He called these rules the Ten Commandment.</span>
                <ol>
                    <li>Love God more than you love anything or anyone else</li>
                    <li>Do not make idols to worship</li>
                    <li>Use God’s name with love and respect</li>
                    <li>Remember the Lord’s day and keep it holy</li>
                    <li>Honour your father and mother</li>
                    <li>Do not murder</li>
                    <li>Be faithful to your husband or wife</li>
                    <li>Do not steal</li>
                    <li>Do not lie</li>
                    <li>Do not desire what belong  to your neighbour</li>

                </ol>
            </div>
        </div>
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/kids01.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}