{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>ABRAHAM FOLLOWS GOD</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                Genesis 12:1 The Lord has said to Abraham, leave your country, your people 
                and your father’s household and to the land I will show you.
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                To teach children that God can move them out of their comfort zone to a place He wants them to be.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>
                    Abraham obeyed God and left his relatives and country because God told him to go to a new land far away. God promised to give him many children and make him father of nations.
                </p>
                <p>
                    God also changed his name from Abram to Abraham and blessed him and his wife Sarah with a son named Isaac at old age.
                    It pays so much to obey God. Abraham trusted God so much and followed Him where He led.
                </p>
            </div>
        </div>
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/write.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}