{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>EVERLASTING FATHER</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                Isaiah 9 : 6    “For to us a child is born, to us a son is given, and the government will be on his shoulders. 
                And He will be called Wonderful Counsellor, Mighty God, Everlasting Father, and Prince of Peace.”
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                To teach children about a father that is always with them.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>Children have their earthly fathers who love them so much and provide food, cloths, home and education for them.
                <p>In spite of the love and care some are not always around when their children need them. Some already left their children either by dead by separation.
                <p>But our everlasting Father, Jesus Christ the son of God is always there for us. He promised never to leave nor forsake us. He is watching over us when we sleep, when we are alone or with strangers. Everlasting means continuing and enduring through all time.
                <p>Jesus Christ endures and continues to love, care, guide, protect, support and provide for children all through the time and time to come. 
                </p>
            </div>
        </div>
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/kids02.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}