{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>JESUS IS BORN</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                Mathematics 1: 2.  “And she will bring forth a son and you shall call His name JESUS, 
                for He will save His people from their sins.”
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                To teach children about the significant birth of Christ.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/write.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>It was a quiet night; stars were twinkling in the black sky, in the fields outside of Bethlehem. Sheep were setting in for the night while their shepherds watched over them.
                <p>A baby is born in Bethlehem His name is Jesus Saviour of the whole world.
                <p>The birth of Jesus Christ was prophesied in Isaiah 9: 6-7 He reveals some character of Jesus with names that will reflect His nature. Jesus had to be born as a child, grew up on earth but lived a perfect and sinless life.
                <p>He came from Heaven to earth as a son of God to save us from our sins.
                </p>                    
            </div>
        </div>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}