{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>THE DREAMER</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                Genesis 37: 5  “Joseph had a dream and when he told it to his brothers they hated him all the more”
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                To teach children God can speak to people through dreams.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>Dream is a series of thoughts, vision, or feelings that happen during sleep.
                <p>God sometimes speaks to people through dream. Most dreams are message from God and some are not. God gave dreams to Joseph and also wisdom to interpret it, He also gave dream to the cupbearer and the baker while in prison.
                <p>God had given dream to many children before as a message to their parents, church or even their friends.
                <p>When you are close to God and listen to Him He can speak to you through dream also.
                </p>                    
            </div>
        </div>
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/write.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}