{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>TRUSTING GOD</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                Proverbs 3: 5 – 6   “ Trust in Lord with all your heart and lean not on your own understanding”.
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                Teaching children to put their trust in God.
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/kids03.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>Trust is belief, dependence, and assurance, reliance on the character, ability, strength or truth of someone.
                <p>The book of Nehemiah tells us a story about trusting God to succeed even when people are against you or your project.
                <p>Nehemiah was a government worker not a builder or contractor, but when he saw that the walls of Jerusalem have torn down by God’s enemy, he decided to do something about it.
                <p>Israel’s enemies didn’t like the idea and did everything to stop him. But Nehemiah cried to God and put his trust on Him. Nehemiah ignored all the attack and distraction and depends on God. In the end he rebuilds the walls of Jerusalem because he prayed and trusted God.
                <p>It is not easy to do something and succeed when the odds are against you. But with God all things are possible. 
                </p>
            </div>
        </div>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}