{% extends 'base.html' %}
{% load static %}

{% block title %}Kids Ministry || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <p>
            <h2 class="dib fw6 green">TOPIC:</h2> <span>THE GOOD SHEPHERD</span>
        </p>
        <p>
            <h2 class="dib fw6 green">BIBLE TEXT:</h2>
            <span class="">
                John 10:11   I am the Shepherd. The good shepherd lays down his life for the sheep.
            </span>
        </p>
        <p>
            <h2 class="dib fw6 green">TEACHING AIM:</h2>
            <span class="">
                Jesus Christ is our Good Shepherd
            </span>
        </p>
    </div>
    <div class="upperroom">
        <!-- ===================== messages ======================== -->
        <article class="center pa2 v-top">
            <div class="bg-white">
                <img src="{% static 'img/kids04.JPG' %}" alt="Kids of the Upperroom" title="Upperroom" class="w-100 cover" />
            </div>
        </article>
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <h2 class="tc f1-l fw6 hot-pink">LESSON</h2>
                <p>Shepherd is someone who takes care of a flock of sheep; it is often used in the Bible to describe anyone who cares for a group of people.
                <p>Jesus Christ is our good shepherd because He takes care of us, He lays down his life on the cross to redeem us from sin.
                <p>Remember the shepherd’s responsibility is the safety and welfare of the flock.
                <p>That is what Jesus does for us; He watches over us and provides for us.
                <p>Sheep cannot live without a shepherd, so also is you and I we need Jesus Christ to live and have eternal life.
                </p>
            </div>
        </div>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}