{% extends 'base.html' %}
{% load static %}

{% block title %}Messages || GHBC{% endblock %}

{% block container %}
<div class="w-100 ph3 ph5-l pv2 pv4-l">
    <div>
        <div class="tc">
            <h2 class="dib fw6 blue">TOPIC:</h2> <span>THE GATES OF HELL SHALL NOT PREVAIL</span>
        </div>
        <div class="tc">
            <h2 class="dib fw6 blue">BIBLE TEXT:</h2>
            <span class="code i">
                Exodus 1:15-22
            </span>
        </div>
        <div class="w-100 tc">
            <p class="dib w-80-l">
                <b>Introduction:</b> 
                When Pharaoh discovered that persecution, affliction and all kinds of suffering he 
                brought upon the children of Israel, could not stop their fruitfulness and increase, 
                he decided to use the Hebrew Midwives, so that all male children would be killed. 
                Again, God intervened.
            </p>
        </div>
    </div>
    <div class="media">
        <!-- ===================== messages ======================== -->
        <div class="w-100 black-80 pv3 black-80">
            <div>
                <ol>
                    <li>
                        <h3 class="dib ma1">God’s instrument of intervention;</h3>
                        <span class="">
                            “And he (pharaoh) said, “When you do the duties of the midwives for the Hebrew 
                            women, and see them on the birth stools, if it is a son, then you shall kill him; 
                            but if it is a daughter, then she shall live.
                        </span>
                        <p>
                            But the midwives feared God, and did not do as the king of Egypt commanded them, 
                            but saved the male children. vs 16,17. Pharaoh ordered that only the male children 
                            should be killed, why? The Bible says “A man is the image and the glory of God, 
                            but the woman is the glory of man” – 1 Cor 11:7. The devil knows that once he 
                            captures man, the glory of God is taken. That is why in Genesis when the woman 
                            ate the forbidden fruit, nothing happened, but immediately she gave the 
                            husband (man) to eat, God came down. Once the head is cut off, the whole 
                            body will fall. That is why the bible says in Matt. 2:16 – ‘Then Herod, 
                            when he saw that he was deceived by the wise men, was exceedingly angry, 
                            and he sent forth and put to death all the male children who were in 
                            Bethlehem and in all its districts, from two years old and under, according 
                            to the time which he had determined from the wise men”. The “seed of the woman” 
                            Gen.3:15 will certainly be a man. The devil is at war with the male folk. 
                            The prophet who will bring Israel out of Egypt will certainly be a man, 
                            the devil knows that.
                        </p>
                        <p>
                            How did God intervene for His people? By putting His fear in the hearts of the 
                            midwives; “But the midwives feared God…..”. We should always pray that God will 
                            put His fear in the heart of all the people connected to us in one way or the 
                            other e.g our doctors, those working with us, like house helps, colleagues, 
                            bosses in the office etc. Sometimes He brings His fear, dread and terror upon 
                            the people to disarm them. “And they journeyed, and the terror of God was upon 
                            the cities that were all around them, and they did not pursue the sons of Jacob”. 
                            Gen 35:5
                        </p>
                    </li>
                    <li>
                        <h3 class="dib ma1">God blessed the midwives;</h3>
                        <span>
                            “And so it was because the midwives feared God that He provided households for them” v 21.
                        </span>
                        <p>
                            God rewards faithfulness, fear of God and obedience. And said, “By myself have I sworn, 
                            says the Lord, because you have done this thing and have not withheld your son, 
                            your only son – blessing I will bless you, and multiplying I will multiply your 
                            descendants as the stars of heaven and as the sand which is on the sea shores 
                            and your descendants shall possess the gate of their enemies. In your seed all 
                            the nations of the earth shall be blessed, because you have obeyed my voice”. 
                            Gen 22:16-18. “God dealt well with the midwives… and “He provided households 
                            for them” Ex 1:20,21.
                        </p>
                        <p>
                    </li>
                    <li>
                        <h3 class="dib ma1">Pharaoh (the devil) never gives up</h3>
                        <span>
                            – “So Pharaoh commanded all his people; saying, “every son who is born you 
                            shall cast into the river, and every daughter you shall save alive” v. 22. 
                        </span>
                    </li>

                </ol>
            </div>
        </div>
        <article class="center pa2">
            <div class="bg-white w6">
                <img src="{% static 'img/write.jpg' %}" alt="reading the Bible" title="GHBC" class="w-100" />
            </div>
        </article>
    </div>
<!--  -->
    </div>
</div>
{% endblock %}