{% extends 'base.html' %}
{% load static %}

{% block title %}Media || GHBC{% endblock %}

{% block container %}
<section class="ph3 ph4-m ph5-l tc">
    <div class="tl dib w-80 ph3-m ph4-l">
        <div class="tc">
            <h1 class="f3 f1-l fw6 fw8-l">Privacy Policy</h1>
        </div>
        <h2 class="f5 f3-ns fw6 fw7-ns">Posted March 9, 2020</h2>
        <p class="black-69">
            The GHBC.NG Website and Application are self-contained programs owned and operated by 
            ghbc.ng. We are aware that you care how information about you is used and shared. 
            We do too. We hope the following statements will help you understand how we collect, 
            use and protect the information you provide to us through our web platforms.
        </p>
        <h2 class="f5 f3-ns fw6 fw7-ns">How we use what we collect</h2>
        <h4 class="f6 f4-ns fw6 fw7-ns">Information You Provide</h4>
        <p class="black-69">
            When you use certain functions within this Website, we ask you for personal information 
            (such as your name, email address phone number etc). We do not rent, sell, or disclose 
            your information with outside organizations without your explicit permission. 
            We may combine the information you submit, with information from other 
            ghbc.ng services or third parties to provide certain services, offer you a better 
            user experience and to improve the quality of our services. 
            Examples of the above include, but are not limited to, providing online services, 
            presenting you with spiritual development services, adding new features, 
            and analyzing our app or website performance. For certain services, 
            you may opt out of combining such information for certain services.
        </p>
        <h4 class="f6 f4-ns fw6 fw7-ns">Cookies</h4>
        <p class="black-69">
            A cookie is simply a tiny text file containing a string of characters.
            When you use this Website we may send one or more cookies to your computer, 
            so that we may uniquely identify your browser. 
            Accepting our cookies allows you to keep your user preferences from a session to another.
            Although most browsers accept cookies by default, you can set your browser to refuse all cookies, 
            or to tell you when you are being sent cookies. Some of the Website features and services may not 
            function properly if you have cookies disabled.
        </p>
        <h4 class="f6 f4-ns fw6 fw7-ns">User Communication</h4>
        <p class="black-69">
            A cookie is simply a tiny text file containing a string of characters.
            When you use this Website we may send one or more cookies to your computer, 
            so that we may uniquely identify your browser. 
            Accepting our cookies allows you to keep your user preferences from a session to another.
            Although most browsers accept cookies by default, you can set your browser to refuse all cookies, 
            or to tell you when you are being sent cookies. Some of the Website features and services may not 
            function properly if you have cookies disabled.
        </p>
        <h4 class="f6 f4-ns fw6 fw7-ns">Third Party Sites</h4>
        <p class="black-69">
            A cookie is simply a tiny text file containing a string of characters.
            When you use this Website we may send one or more cookies to your computer, 
            so that we may uniquely identify your browser. 
            Accepting our cookies allows you to keep your user preferences from a session to another.
            Although most browsers accept cookies by default, you can set your browser to refuse all cookies, 
            or to tell you when you are being sent cookies. Some of the Website features and services may not 
            function properly if you have cookies disabled.
        </p>
    </div>
</section>
{% endblock %}