{% extends 'base.html' %}
{% load static %}

{% block title %}Who We Are || GHBC{% endblock %}

{% block container %}
<!-- ================= inner header =================== -->
<div class="cover bg-center vh-75 relative-l" style="background-image: url('/static/img/pastor.jpg');">
    <div class="ph2 ph5-l vh-75 flex flex-column">
        <div class="flex justify-center flex-auto flex-column">
            <h1 class="f3 f1-ns fw8 white mw6">Our mission is to evangelize all Nations and disciple people for Christ!</h1>
            <div class="flex">
                <span class="bg-white green">- Apostle Emmanuel Elias, International Co-Ordinator</span>
            </div>
        </div>
    </div>
</div>

<!-- ==================== container div ====================== -->
<div class="w-100 ph3 ph5-l tc pv2 pv4-l">
    <div class="w-70-l dib">

        <!-- ===================== vision n mission ======================== -->
        <div class="w-100 black-80 pv3" id="mission">
            <h2 class="f5 f3-ns fw6 mv2">Great Harvest is a family of Christians that are diverse in age, talent, 
                and background.  Nevertheless, we are united in spirit, brotherly love, and common goals with 
                expectation of the joy and peace to be found in Jesus Christ, now and for eternity.  We work to 
                take His message to all those who seek Him and desire to build their spiritual life around Him.</h2>

            <h2 class="f3 f1-ns fw6 mv2">Mission</h2>
            <span class="f4 pb2 db">Great Harvest Bible Church is founded on missionary motivated goal of 
                plundering hell and populating heaven for calvary sake. It is otherwise called “operations PHPH”. We believe and pursue the exaltation of Christ and the extension of His kingdom as the formula for being fulfilled and having access to other blessings that pertain to life and godliness.
                </span>
            <h2 class="f3 f1-ns fw6 mv2">Vision</h2>
            <ul class="tl">
                <li>We are committed to preaching the gospel of our Lord Jesus Christ to the world.</li>
                <li>We are committed to promoting the unity of the body of Christ.</li>
                <li>We engage in the training of disciples for effective ministry.</li>
                <li>Publication of Christian books, magazines, tracts and other 
                    such materials necessary for the propagation of the gospel.</li>
                <li>We are committed to the furtherance of the kingdom 
                    mandate through evangelistic and missionary activities in any part of Nigeria or overseas</li>
            </ul>
        </div>

        <!-- ==================== your life =========================== -->
        <div class="w-100 black-80 pv3">
            <h2 class="f3 f1-ns fw6 mv2">Your Life</h2>
            <span>
                Wherever you are in life, you matter and you have a divine purpose.
                We want to help you become the person God has ordained you to be.
                Your journey in life has a next step and we'll help you get it.
                It could start with finding God's vision for your life, evangelism, giving, or joining us regularly.
                You don't have to take the next step alone.
                Find a department and a service unit to join you on your journey.
            </span>
        </div>

        <!-- ==================== your family =========================== -->
        <div class="w-100 black-80 pv3">
            <h2 class="f3 f1-ns fw6 mv2">Your Family</h2>
            <span>
                Strong families start with solid foundations. That's why we partner with parents to
                help raise the next generation to become followers of Christ. 
                Your children and teens have opportunities every week to grow their relationships with
                each other and faith in God.
            </span>
        </div>

        <!-- ==================== community =========================== -->
        <div class="w-100 black-80 pv3">
            <h2 class="f3 f1-ns fw6 mv2">Our community and world</h2>
            <span>
                We are passionate about serving the global community and demonstrating God's love to others,
                starting from Africa. Whether in person or online, within the church and around the world, 
                we are focused on preaching the Gospel to the entire world, through crusades and outreaches.
            </span>
        </div>

        <!-- ==================== leaders =========================== -->
        <div class="w-100 black-80 pv3">
            <h2 class="f3 f1-ns fw6 mv2">Our leadership</h2>
            <span>
                Our Vector Leadership Team works together to shape the vision and direction of GHBC.
            </span>
            <div class="w-100">
                <article class="center w-100 w-50-ns dib pa2 br3 v-top">
                    <div class="bg-white br3 shadow-2">
                        <img src="{% static 'img/IMG_4949.JPG' %}" alt="Elias Emmanuel" title="International Co-ordinator" class="w-100" style="border-top-left-radius:8px; border-top-right-radius:8px;" />
                        <div class="pa2 h2">
                            <h3 class="f3 ma0">Apostle Elias Emmanuel</h3>
                        </div>
                        <div  class="h5">
                            <h4 class="pa2 h2 fw1">
                                International Co-ordinator
                            </h4>
                            <span class="ph3">
                                This ministry was birthed following a vision God gave to Apostle Emmanuel
                                Elias in 1992. As the International Co-ordinator of GHBC, he provides 
                                teaching, leadership, and guidance for the church as a whole.
                                He speaks frequently in conferences, crusades and serminars etc. 
                                He has written several books including his latest release, Prophetic .... 
                                He is married to, Rev. (Mrs) Mary Elias, and are blessed with two children.
                            </span>
                        </div>
                    </div>
                </article><article class="center w-100 w-50-ns dib pa2 br3 v-top">
                    <div class="bg-white br3 shadow-2">
                        <img src="{% static 'img/pastor_samuel01.jpg' %}" alt="Samuel Bassey" title="National Co-ordinator" class="w-100" style="border-top-left-radius:8px; border-top-right-radius:8px;" />
                        <div class="pa2 h2">
                            <h3 class="f3 ma0">Pastor Samuel Bassey</h3>
                        </div>
                        <div  class="h5">
                            <h4 class="pa2 h3 fw1">
                                National Co-ordinator
                            </h4>
                            <span class="ph3">
                                As the National Co-ordinator, he oversees the welfare and growth of the church
                                in all aspect. He organizes the teens, youths, ministers, men and women for 
                                evangelistic campaigns and other church events. He and his wife, 
                                Dr. Deaconess (Mrs) Abigail, are blessed with children.
                            </span>
                        </div>
                    </div>
                </article>
                <article>
                    <p>
                        The church have different leaders in different fields for different purposes.
                        All make up the <b class="navy">Ministerial Council</b>
                    </p>
                </article>
            </div>
            <!-- our beliefs link -->
            <span class="dn mv4"><a href="beliefs.html" class="pv2 f4-ns ph6 br-pill bg-blue white pointer link">Our Beliefs</a></span>
        </div>
<!--  -->
    </div>
</div>
<!--  -->
{% endblock %}